.bg-body{
    background-color: #eceff1;
}

.row.container{
    display: flex;
    margin-left: 5rem;
    gap:2rem;
}

.row.container .col{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    min-width: 12rem;
    min-height: 13rem;
    border-radius: 10px;
}

.row.container .col img{
    max-width: 80px;
    max-height: 80px;
    margin: 0 auto;
}